@import "variables";

body {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: $color-light;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: $transition-duration;
}

a {
    text-decoration: none;
    color: inherit;
}